{% extends 'index.html' %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">Елемент 1 <span class="badge">18</span> </a>
                    </li>
                    <li>
                        <a href="#">Елемент 2 <span class="badge">22</span> </a>
                    </li>
                    <li>
                        <a href="#">Елемент 3 <span class="badge">27</span> </a>
                    </li>
                    <li>
                        <a href="#">Елемент 4 <span class="badge">98</span> </a>
                    </li>
                    <li>
                        <a href="#">Елемент 5 <span class="badge">34</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="thumbnail-head">
                        <div class="col-xs-3"><i class="fa fa-calendar">27.07.15</i></div>
                        <div class="col-xs-3"><i class="fa fa-user">Вася</i></div>
                        <div class="col-xs-3"><i class="fa fa-file-text-o">ІТ</i></div>
                        <div class="col-xs-3"><i class="fa fa-thumbs-o-up">278</i></div>
                    </div>
                    <hr>
                    <img src="images/img_html.png" alt="">
                    <div class="caption">
                        <h3><a href="https://ru.wikipedia.org/wiki/HTML" target="blank">HTML</a></h3>
                        <p class="blogtext">HyperText Markup Language</i> — «язык гипертекстовой разметки») — стандартный
                            язык разметки документов во Всемирной паутине. Большинство веб-страниц содержат
                            описание разметки на языке HTML (или XHTML). Язык HTML интерпретируется браузерами;
                            полученный в результате интерпретации форматированный текст отображается на
                            экране монитора компьютера или мобильного устройства.</p>
                        <a href="https://ru.wikipedia.org/wiki/HTML" target="blank" class="btn btn-success">Читати повністю <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="thumbnail-head">
                        <div class="col-xs-3"><i class="fa fa-calendar">27.07.15</i></div>
                        <div class="col-xs-3"><i class="fa fa-user">Вася</i></div>
                        <div class="col-xs-3"><i class="fa fa-file-text-o">ІТ</i></div>
                        <div class="col-xs-3"><i class="fa fa-thumbs-o-up">278</i></div>
                    </div>
                    <hr>
                    <img src="images/img_css.png" alt="">
                    <div class="caption">
                        <h3><a href="https://ru.wikipedia.org/wiki/CSS" target="blank">CSS</a></h3>
                        <p class="blogtext"><b>CSS</b> (англ. <i>Cascading Style Sheets</i> — каскадные таблицы стилей) —
                            формальный язык описания внешнего вида документа, написанного с использованием языка
                            разметки. Преимущественно используется как средство описания, оформления внешнего вида
                            веб-страниц, написанных с помощью языков разметки HTML и XHTML, но может также применяться к
                            любым XML-документам, например, к SVG или XUL.</p>
                        <a href="https://ru.wikipedia.org/wiki/CSS" target="blank" class="btn btn-success">Читати повністю <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="thumbnail-head">
                        <div class="col-xs-3"><i class="fa fa-calendar">27.07.15</i></div>
                        <div class="col-xs-3"><i class="fa fa-user">Вася</i></div>
                        <div class="col-xs-3"><i class="fa fa-file-text-o">ІТ</i></div>
                        <div class="col-xs-3"><i class="fa fa-thumbs-o-up">278</i></div>
                    </div>
                    <hr>
                    <img src="images/img_js.png" alt="">
                    <div class="caption">
                        <h3><a href="https://ru.wikipedia.org/wiki/JavaScript" target="blank">JavaScript</a></h3>
                        <p class="blogtext"><b>JavaScript</b> (аббр. <b>JS</b>)
                            — прототипно-ориентированный сценарный язык программирования. Является реализацией языка
                            ECMAScript (стандарт ECMA-262[6]). JavaScript обычно используется как встраиваемый язык
                            для программного доступа к объектам приложений. Наиболее широкое применение находит в
                            браузерах как язык сценариев для придания интерактивности веб-страницам.</p>
                        <a href="https://ru.wikipedia.org/wiki/JavaScript" target="blank" class="btn btn-success">Читати повністю <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md visible-lg"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="thumbnail-head">
                        <div class="col-xs-3"><i class="fa fa-calendar">27.07.15</i></div>
                        <div class="col-xs-3"><i class="fa fa-user">Вася</i></div>
                        <div class="col-xs-3"><i class="fa fa-file-text-o">ІТ</i></div>
                        <div class="col-xs-3"><i class="fa fa-thumbs-o-up">278</i></div>
                    </div>
                    <hr>
                    <img src="images/img_JQuery.png" alt="">
                    <div class="caption">
                        <h3><a href="https://ru.wikipedia.org/wiki/JQuery" target="blank">jQuery</a></h3>
                        <p class="blogtext"><b>jQuery</b> — библиотека JavaScript, фокусирующаяся на взаимодействии
                            JavaScript и HTML. Библиотека jQuery помогает легко получать доступ к любому элементу
                            DOM, обращаться к атрибутам и содержимому элементов DOM, манипулировать ими. Также
                            библиотека jQuery предоставляет удобный API для работы с AJAX. Сейчас разработка jQuery
                            ведётся командой jQuery во главе с Джоном Резигом.</p>
                        <a href="https://ru.wikipedia.org/wiki/JQuery" target="blank" class="btn btn-success">Читати повністю <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="thumbnail-head">
                        <div class="col-xs-3"><i class="fa fa-calendar">27.07.15</i></div>
                        <div class="col-xs-3"><i class="fa fa-user">Вася</i></div>
                        <div class="col-xs-3"><i class="fa fa-file-text-o">ІТ</i></div>
                        <div class="col-xs-3"><i class="fa fa-thumbs-o-up">278</i></div>
                    </div>
                    <hr>
                    <img src="images/img_bootstrap.png" alt="">
                    <div class="caption">
                        <h3><a href="https://ru.wikipedia.org/wiki/Twitter_Bootstrap" target="blank">Bootstrap</a></h3>
                        <p class="blogtext"><b>Twitter Bootstrap</b> — свободный набор инструментов для создания сайтов
                            и веб-приложений. Включает в себя HTML и CSS шаблоны оформления для типографики, веб-форм,
                            кнопок, меток, блоков навигации и прочих компонентов веб-интерфейсов, включая JavaScript
                            расширения. Bootstrap использует самые современные наработки в области CSS и HTML, поэтому
                            необходимо быть внимательным при поддержке старых браузеров.</p>
                        <a href="https://ru.wikipedia.org/wiki/Twitter_Bootstrap" target="blank" class="btn btn-success">Читати повністю <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="thumbnail-head">
                        <div class="col-xs-3"><i class="fa fa-calendar">27.07.15</i></div>
                        <div class="col-xs-3"><i class="fa fa-user">Вася</i></div>
                        <div class="col-xs-3"><i class="fa fa-file-text-o">ІТ</i></div>
                        <div class="col-xs-3"><i class="fa fa-thumbs-o-up">278</i></div>
                    </div>
                    <hr>
                    <img src="images/img_adobe.png" alt="">
                    <div class="caption">
                        <h3><a href="https://ru.wikipedia.org/wiki/Adobe_Flash" target="blank">Adobe Flash</a></h3>
                        <p class="blogtext"><b>Adobe Flash</b> (ранее <b>Macromedia Flash</b>), или просто <b>Flash</b>,
                            по-русски часто пишут <b>флеш</b> или <b>флэш</b>) — мультимедийная платформа компании Adobe
                            Systems для создания веб-приложений или мультимедийных презентаций. Широко используется для
                            создания рекламных баннеров, анимации, игр, а также воспроизведения на веб-страницах видео-
                            и аудиозаписей.</p>
                        <a href="https://ru.wikipedia.org/wiki/Adobe_Flash" target="blank" class="btn btn-success">Читати повністю <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}