{% extends 'tasks2.html' %}

{% block head %}
{% parent %}
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/chat_socketio.js"></script>
{% endblock %}

{% block tasks2_content %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 help-border-left">
    <h2 class="page_name">Chat</h2>
    <h4 class="indent">Implementation of a chat with support sessions, the authorization and templating.</h4>
    <br>
    <br>
    <div id="chat_window">
        <br>
        <form id="js_chat_publish" class="form-inline">
            <!--&lt;!&ndash;<input type="text" id="js_chat_input" class="form-control task_input" name="message" autocomplete="off" autofocus placeholder="message">&ndash;&gt;-->
            <div class="row">
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="js_chat_input" name="message" autocomplete="off" autofocus>
                </div>
                <div class="col-xs-3">
                    <button type="submit" id="chat_btn" class="btn btn-link main_form_btn"><i class="fa fa-paper-plane-o fa-4x"></i></button>
                </div>
            </div>
        </form>
        <hr>
        <ul id="js_chat_messages"></ul>
    </div>
</div>
{% endblock %}