{% extends 'tasks2.html' %}

{% block head %}
{% parent %}
<script src="javascripts/chat_logout.js"></script>
{% endblock %}

{% block tasks2_content %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 help-border-left">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h3>Hello {{ user.get('username') }}</h3>
            </div>
            <button type="button" id="js_chat_logout" class="btn btn-default navbar-btn navbar-right">Logout</button>
        </div>
    </nav>
    <h2 class="page_name">Chat</h2>
    <h4 class="indent">Implementation of a chat with support sessions, the authorization and templating.</h4>
    <br>
</div>
{% endblock %}