{% extends 'tasks2.html' %}

{% block tasks2_content %}
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 help-border-left">
        <h3 class="indent">In the following table is a list of {{ partMessage }} companies.</h3>
        <br>
        <table class="table table-bordered">
            <tr class="text-center">
                <th class="text-center">Company</th>
                <th class="text-center">Country</th>
                <th class="text-center">Phone</th>
            </tr>

            {% for info in companyData %}
            <tr class="text-center">
                <td title="{{ info.discription }}">
                    <a href="http://localhost:3000/company/{{ info._id }}">{{ info.company }}</a>
                </td>
                <td>{{ info.country }}</td>
                <td>{{ info.phone }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    <!--<select id="t17_pages" class="form-control">-->
        <!--<option>1</option>-->
        <!--<option>2</option>-->
        <!--<option>3</option>-->
        <!--<option>4</option>-->
        <!--<option>5</option>-->
    <!--</select>-->
    <!--<p id="t17_descripPage">Quantity of pages:</p>-->
    <!--<nav id="t17_pagin">-->
        <!--<ul class="pagination">-->
            <!--<li>-->
                <!--<a href="#" aria-label="Previous">-->
                    <!--<span aria-hidden="true">&laquo;</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <!--<li>-->
                <!--<a href="#" aria-label="Next">-->
                    <!--<span aria-hidden="true">&raquo;</span>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->

{% endblock %}