{% extends 'tasks2.html' %}

{% block tasks2_content %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 help-border-left indent text-justify indent">
        <h2 class="page_name">Задание 17</h2>
        <br>
        <p>При выполнении использовать data.json который прилагается к заданию.</p>
        <ul>
            <li>При запросе на host:port/company должна приходить страница с таблицей по
                всем компаниям указаным в data.json. Имя компании должно быть ссылкой на
                страницу подробного описания этой компании. На странице списка компаний
                выводить все компании если нету query параметра count, если он указан
                выводить столько компаний сколько указано в нём. К примеру
                host:port/company?count=10  ­ выводим таблицу из 10 компаний.
            </li>
            <li>При запросе host:port/company/id должна приходить страница с подробным
                описанием компании(название компании(в хедере), страна, дата основания,
                номер телефона, описание).
            </li>
        </ul>
        <p>Сверстать страницы с использование bootstrap. Каждая страница должна содержать
            хедер(в зависимости от страницы в хедере должно быть указано “Company list” или
            имя компании на странице подробной информации) и футер(одинаковый для двух
            страниц).</p>
        <hr>
        <p>To go to a page with a table of companies - click on the button:</p>
        <a href="http://localhost:3000/company" class="btn btn-default">Таблица компаний</a>
    </div>
{% endblock %}