{% extends 'tasks2.html' %}

{% block head %}
{% parent %}
    <script src="javascripts/hash-map_L9.js"></script>
{% endblock %}

{% block tasks2_content %}
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 help-border-left indent">
    <h2 class="page_name">Завдання 9</h2>
    <p>Використовуючи JavaScript і прототипи написати аналог HashMap (Java).</p>
    <br>
    <br>
    <div>
        <div>
            <p>Щоб добавити данні в HashMap - заповніть поля "Ключ" / "Значення", і натисніть кнопку "Додати".</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="js_t9_inputKey" class="col-sm-4 control-label">Введіть ключ: </label>
                    <div class="col-sm-8">
                        <input id="js_t9_inputKey" class="form-control" type="text" name="inputKey" autocomplete="off" placeholder="Ключ">
                    </div>
                </div>
                <div class="form-group">
                    <label for="js_t9_inputValue" class="col-sm-4 control-label">Введіть значення: </label>
                    <div class="col-sm-8">
                        <input id="js_t9_inputValue" class="form-control" type="text" name="inputValue" autocomplete="off" placeholder="Значення">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-10">
                        <button type="button" id="js_t9_input" class="btn btn-default">Додати</button>
                    </div>
                </div>
            </form>
            <hr>
            <br>
        </div>
        <div>
            <p>Щоб добавити данні в HashMap одною строкою - заповніть поле в наступному форматі: "{'Ключ' = 'Значення', ... }", і натисніть кнопку "Додати".</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="js_t9_inputString" class="col-sm-4 control-label">Введіть данні: </label>
                    <div class="col-sm-8">
                        <input id="js_t9_inputString" class="form-control" type="text" name="inputString" autocomplete="off" placeholder="Данні одною строкою">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-10">
                        <button type="button" id="js_t9_parserStringAndAddMap" class="btn btn-default">Додати</button>
                    </div>
                </div>
            </form>
            <hr>
            <br>
        </div>
        <div>
            <p>Щоб вивести в консоль строковий варіант данних - натисніть на кнопку.</p>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="button" id="js_t9_string" class="btn btn-default">Строка</button>
                </div>
            </div>
            <br>
            <br>
            <hr>
        </div>
        <div>
            <p>Щоб вивести в консоль об'єктний варіант данних - натисніть на кнопку.</p>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="button" id="js_t9_entrySet" class="btn btn-default">Об'єкт</button>
                </div>
            </div>
            <br>
            <br>
            <hr>
        </div>
        <div>
            <p>Щоб отримати данні за ключем - заповніть поле і натисніть кнопку "Отримати".</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="js_t9_outputKey" class="col-sm-4 control-label">Введіть ключ: </label>
                    <div class="col-sm-8">
                        <input id="js_t9_outputKey" class="form-control" type="text" name="outputKey" autocomplete="off" placeholder="Значення за ключем">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-10">
                        <button type="button" id="js_t9_output" class="btn btn-default">Отримати</button>
                    </div>
                </div>
            </form>
            <hr>
            <br>
        </div>
        <div>
            <p>Щоб видалити данні за ключем - заповніть поле і натисніть кнопку "Видалити"</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="js_t9_delKey" class="col-sm-4 control-label">Введіть ключ: </label>
                    <div class="col-sm-8">
                        <input id="js_t9_delKey" class="form-control" type="text" name="delKey" autocomplete="off" placeholder="Видалення за ключем">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-10">
                        <button type="button" id="js_t9_del" class="btn btn-default">Видалити</button>
                    </div>
                </div>
            </form>
            <hr>
            <br>
        </div>
        <div>
            <p>Щоб перевірити чи HashMap пустий - натисніть на кнопку.</p>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="button" id="js_t9_isEmpty" class="btn btn-default">Обнулити</button>
                </div>
            </div>
            <br>
            <br>
            <hr>
        </div>
        <div>
            <p>Щоб перевірити кількість ключів - натисніть на кнопку.</p>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="button" id="js_t9_checkKey" class="btn btn-default">Перевірити</button>
                </div>
            </div>
            <br>
            <br>
            <hr>
        </div>
    </div>
</div>
{% endblock %}