<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!--<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->
    <!--<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

    <script src="/libs/JQuery/jquery-1.11.3.min.js"></script>
    <script src="/libs/JQuery/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/libs/JQuery/jquery-ui.css">

    <link rel="stylesheet" href="/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
    <script src="/libs/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/javascripts/chat_logout.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.css">-->

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block menu %}
    {% endblock %}

    {% block viewPart %}
    {% endblock %}

    {% block header %}
    {% endblock %}<br>

    {% block content %}
    {% endblock %}<br>

    {% block footer %}
    {% endblock %}
<button type="button" class="btn btn-default navbar-btn navbar-right js_chat_logout">Logout</button>
</body>
</html>