<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="/libs/bootstrap-3.3.5-dist/css/bootstrap.css"/>-->
    <!--<script src="/libs/JQuery/jquery-1.11.3.min.js"></script>-->
    <!--<script src="/libs/bootstrap-3.3.5-dist/js/bootstrap.js"></script>-->

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/libs/font-awesome/css/font-awesome.css">
</head>
<body>
    {% block menu %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr-only">Open navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="logo_bootstrap" href="#"><img src="http://localhost:3000/images/logo_bootstrap.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="responsive-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">News<b class="caret"></b></a>
                            <ul class="dropdown-menu help-dropdown">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                                <li><a href="#">Page 4</a></li>
                                <li><a href="#">Page 5</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                            <ul class="dropdown-menu help-dropdown">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                                <li><a href="#">Page 4</a></li>
                                <li><a href="#">Page 5</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task 1.0<b class="caret"></b></a>
                            <ul class="dropdown-menu help-dropdown">
                                <li><a href="#" target="blank">First steps</a></li>
                                <li><a href="#" target="blank">Prompt</a></li>
                                <li><a href="#" target="blank">Array</a></li>
                                <li><a href="#" target="blank">Accordion</a></li>
                                <li><a href="#" target="blank">Delegation</a></li>
                                <li><a href="#" target="blank">Closing</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task 2.0<b class="caret"></b></a>
                            <ul class="dropdown-menu help-dropdown">
                                <li><a href="#">HashMap (Java)</a></li>
                                <li><a href="#">Slider</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1 id="jumbotronh1"><b>Task 17</b></h1>
                <p  id="jumbotronp">Working with JSON-files and templating "Swig".</p>
            </div>
        </div>
    {% endblock %}

    <div class="text-justify" id="t17_content">
        {% block header %}
            <h3>Задание 17.</h3>
        {% endblock %}<br>

        {% block content %}
            <p>При выполнении использовать data.json который прилагается к заданию.</p>
            <ol>
                <li>При запросе на host:port/company должна приходить страница с таблицей по
                    всем компаниям указаным в "data.json". Имя компании должно быть ссылкой на
                    страницу подробного описания этой компании. На странице списка компаний
                    выводить все компании если нету query параметра count, если он указан
                    выводить столько компаний сколько указано в нём. К примеру
                    host:port/company?count=10  ­ выводим таблицу из 10 компаний.
                </li>
                <li>При запросе host:port/company/id должна приходить страница с подробным
                    описанием компании(название компании(в хедере), страна, дата основания,
                    номер телефона, описание).
                </li>
            </ol>
            <p>Сверстать страницы с использование bootstrap. Каждая страница должна содержать
                хедер(в зависимости от страницы в хедере должно быть указано “Company list” или
                имя компании на странице подробной информации) и футер(одинаковый для двух
                страниц).</p>
            <p>Для перехода на страницу с таблицей компаний - нажмите на кнопку:</p>
            <a href="http://localhost:3000/company"><button type="button" class="btn btn-default">Таблица компаний</button></a>
        {% endblock %}<br>

        {% block footer %}
            <hr>
            <div class="text-right" class="text-muted">
                <p>Powered by <a href="https://nodejs.org/en/" target="blank">node.js</a> & <a href="http://expressjs.com/ru/" target="blank">express</a></p>
                <p>With any questions and suggestions, please email:</p>
                <a href="mailto: serega.n.v333@gmail.com">serega.n.v333@gmail.com</a>
            </div>
        {% endblock %}
    </div>
</body>
</html>