{% extends 'index.html' %}

{% block menu %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                    <span class="sr-only">Open navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="logo_bootstrap" href="http://localhost:3000/"><img src="/images/logo_bootstrap.png"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="responsive-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">News<b class="caret"></b></a>
                        <ul class="dropdown-menu help-dropdown">
                            <li><a href="http://localhost:3000/news">Page 1</a></li>
                            <li><a href="http://localhost:3000/news">Page 2</a></li>
                            <li><a href="http://localhost:3000/news">Page 3</a></li>
                            <li><a href="http://localhost:3000/news">Page 4</a></li>
                            <li><a href="http://localhost:3000/news">Page 5</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                        <ul class="dropdown-menu help-dropdown">
                            <li><a href="http://localhost:3000/blog">Page 1</a></li>
                            <li><a href="http://localhost:3000/blog">Page 2</a></li>
                            <li><a href="http://localhost:3000/blog">Page 3</a></li>
                            <li><a href="http://localhost:3000/blog">Page 4</a></li>
                            <li><a href="http://localhost:3000/blog">Page 5</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task 1.0<b class="caret"></b></a>
                        <ul class="dropdown-menu help-dropdown">
                            <li><a href="#" target="blank">First steps</a></li>
                            <li><a href="#" target="blank">Prompt</a></li>
                            <li><a href="#" target="blank">Array</a></li>
                            <li><a href="#" target="blank">Accordion</a></li>
                            <li><a href="#" target="blank">Delegation</a></li>
                            <li><a href="#" target="blank">Closing</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task 2.0<b class="caret"></b></a>
                        <ul class="dropdown-menu help-dropdown">
                            <li><a href="http://localhost:3000/hash-map">HashMap (Java)</a></li>
                            <li><a href="http://localhost:3000/slider">Slider</a></li>
                            <li><a href="http://localhost:3000/youtube">API YouTube</a></li>
                            <li><a href="http://localhost:3000/data-json">Data JSON</a></li>
                            <li><a href="http://localhost:3000/autocomplete">Autocomplete</a></li>
                            <li><a href="http://localhost:3000/simple-chat">Simple chat</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://localhost:3000/chat">Chat</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<div class="container">
    <div id="main_form" class="row">
        <div class="col-xs-3">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" id="main_form_search" class="form-control main_form_input task_input" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-link main_form_btn"><i class="fa fa-search fa-2x"></i></button>
            </form>
        </div>
        <div class="col-xs-8">
            {% if user %}
            <div class="main_form">
                <div id="main_username" class="navbar-header">
                    <h3>Hello, {{ user.get('username') }}</h3>
                </div>
                <button type="button" id="js_chat_settings" class="btn btn-link main_form_btn"><i class="fa fa-user fa-2x"></i></button>
                <button type="button" id="js_chat_logout" class="btn btn-link main_form_btn"><i class="fa fa-sign-out fa-2x"></i></button>
            </div>
            {% else %}
                <form class="form-inline login-form main_form chat_login_form" name="login-form">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control main_form_input task_input" id="input-username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control main_form_input task_input" id="input-password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-link main_form_btn"><i class="fa fa-sign-in fa-2x"></i></button>
                    <span class="help-block error"></span>
                </form>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}

{% block viewPart %}
    <div id="carousel_slide" class="carousel slide">
        <ol class="carousel-indicators">
            <li class="active" data-target="#carousel_slide" data-slide-to="0"></li>
            <li data-target="#carousel_slide" data-slide-to="1"></li>
            <li data-target="#carousel_slide" data-slide-to="2"></li>
            <li data-target="#carousel_slide" data-slide-to="3"></li>
            <li data-target="#carousel_slide" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/slide_1.png">
                <div class="carousel-caption">
                    <h3>First slide</h3>
                    <p>Description of first slide</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide_2.png">
                <div class="carousel-caption">
                    <h3>Second slide</h3>
                    <p>Description of the second slide</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide_3.png">
                <div class="carousel-caption">
                    <h3>Third slide</h3>
                    <p>Description of the third slide</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide_4.png">
                <div class="carousel-caption">
                    <h3>Fourth slide</h3>
                    <p>Description of the fourth slide</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide_5.png">
                <div class="carousel-caption">
                    <h3>Fifth slide</h3>
                    <p>Description of the fifth slide</p>
                </div>
            </div>
        </div>
        <a href="#carousel_slide" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel_slide" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <hr>
    <div id = "main_footer" class="text-right text-muted">
        <p>Powered by <a href="https://nodejs.org/en/" target="blank">node.js</a> & <a href="http://expressjs.com/ru/" target="blank">express</a></p>
        <p>With any questions and suggestions, please email:</p>
        <a href="mailto: serega.n.v333@gmail.com">serega.n.v333@gmail.com</a>
    </div>
{% endblock %}
