{% extends 'tasks2.html' %}

{% block head %}
{% parent %}
    <script type="text/javascript" src="javascripts/sc_submit_handler.js"></script>
{% endblock %}

{% block tasks2_content %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 help-border-left">
        <h2 class="page_name">Simple chat</h2>
        <br>
        <h4 class="indent">A simple embodiment of the chat.</h4>
        <br>
        <form id="js_sc_publish" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control task_input" autofocus name="message">
            </div>
            <button type="submit" class="btn btn-default">Send</button>
        </form>
        <ul id="js_sc_messages"></ul>
    </div>

{% endblock %}