{% extends 'tasks2.html' %}

{% block head %}
{% parent %}
    <script src="javascripts/t10_carouselka.js"></script>
    <script src="javascripts/t10_jquery_myCarouselka.js"></script>
    <link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.css">
{% endblock %}

{% block tasks2_content %}
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 help-border-left">
                <h2 class="page_name">Завдання 10</h2>
                <p class="indent">Конструктор + плагін для слайдера.</p>
                <br>
                <div id="js_t10_myCarouselka"></div>
            </div>
{% endblock %}