{% extends 'tasks2.html' %}

{% block head %}
    {% parent %}
    <script src="/javascripts/t16_api_youtube_acc.js"></script>
{% endblock %}

{% block tasks2_content %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 help-border-left indent t16_queryString">
        <h2 class="page_name">Keyword search</h2>
        <h4 class="indent">On this page shows the results of a keyword search.</h4>
        <br>
        <div>
            <p class="js_t16_show_res text-center">Show the code of the original response from API YouTube.</p>
            <div class="js_t16_original_res">
                {{ message }}
            </div>
        </div>
        <dl class="dl-horizontal">
            <dt>The query string:</dt>
            <dd><a href="{{ queryString }}" target="blank">{{ queryString }}</a></dd>
            <dt>Keywords:</dt>
            <dd>"{{ container.keywords }}"</dd>
            <dt>Total results:</dt>
            <dd>{{ container.totalResults }}</dd>
            <dt>Results per page:</dt>
            <dd>{{ container.resultsPerPage }}</dd>
        </dl>

        {% for info in container.items %}
            <div class="thumbnail t16_queryString">
                {% if info.type !== "channel" %}
                    <img src="{{ info.thumbnails }}" class="img-thumbnail">
                {% endif %}
                <div class="caption">
                    <dl class="dl-horizontal">
                        <dt>Title:</dt>
                        <dd>{{ info.title }}</dd>
                        <dt>Description:</dt>
                        <dd>{{ info.description }}</dd>
                        <dt>Published at:</dt>
                        <dd>{{ info.publishedAt }}</dd>
                        <dt>{{ info.type|title }} ID:</dt>
                        <dd>"{{ info.id }}"</dd>
                        <dt>Channel ID:</dt>
                        <dd>"{{ info.channelId }}"</dd>
                        <dt>Type:</dt>
                        <dd>"{{ info.type }}"</dd>
                        <dt>Link to the {{ info.type }}:</dt>
                        <dd><a href="{{ info.link }}" target="blank">{{ info.link }}</a></dd>
                    </dl>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}