/*body{*/
    /*-moz-user-select: none;*/
    /*-o-user-select:none;*/
    /*-khtml-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
/*}*/
/*виставляем логотип*/
#logo_bootstrap{
    margin-top: -14px;
}

/*Виставляємо карусєль*/
#carousel_slide{
    margin-top: 50px;
}

/*Підганяємо футер*/
#main_footer, #error_message{
    margin: 20px;
}

/*встановлюємо параметри джамботрона*/
.jumbotron{
    position: fixed-bottom;
    background-image: url(http://localhost:3000/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}
#jumbotronh1, #jumbotronp{
    color: #ddd;
}

/*роздєлітель між стовпцями*/
.help-border-left{
    border-left: 3px solid rgba(174, 101, 255, 0.37);
}

/*параметри Аффікса*/
.affix-css{
    top: 50px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-group-item{
    border-color: #fff;
}
.affix-css .nav>li :hover{
    border-left: 5px solid transparent;
    border-left-color: #563d7c;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    /*font-size: 16px;*/
    font-weight: 600;
}
.affix-css .nav>.active>a{
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    border-color: #0f0;
}
#tasks_container{
    margin-top: -30px;
}

/*Настройка сторінки блога*/
.nav-tabs{
    margin-bottom: 15px;
}
.blogtext{
    text-align: justify;
    text-indent: 20px;
}
.thumbnail-head{
    font-size: 12px;
}

/*Підправляємо сторінку з простим чятом*/
#js_sc_publish{
    margin-left: 30px;
}
/*#12 Створення спойлера*/
/*a.spoiler:after{*/
    /*content: " [-]";*/
/*}*/
/*a.spoiler.collapsed:after{*/
    /*content: " [+]";*/
/*}*/

/*#17 Создаем підменю*/
/*.colsett{*/
    /*border: 1px solid #000;*/
    /*width: 200px;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
/*}*/

/*Task 10*/
/*.margin{*/
    /*margin-top: 120px;*/
/*}*/
.page_name {
    text-align: center;
}
.indent{
    text-indent: 30px;
}

/*В будуєщєм буде пагинация*/
/*#t17_pages{*/
    /*float: right;*/
    /*width: auto;*/
    /*margin-top: 0;*/
    /*display:inline-block;*/
    /*text-align: center;*/
/*}*/
/*#t17_pagin{*/
    /*margin-top: -57px;*/
    /*width: auto;*/
    /*text-align: center;*/
    /*text-indent: 0;*/
/*}*/
/*#t17_descripPage{*/
    /*margin-top: 27px;*/
    /*margin-right: 70px;*/
    /*text-align: right;*/
/*}*/






/*Настройка автокомпліта (Task 18)*/
.search_area{
    position: relative;
}
#js_t18_search_box{
    width:400px;
}
#js_t18_search_result{
    margin-top: 10px;
    margin-left: 60px;
    position: absolute;
    width: 400px;
    padding-left: 30px;
    display:none;
    background-color: rgba(36, 132, 255, 0.07);
    border:1px solid rgba(36, 132, 255, 0.48);
    top: 24px;
    left: 0;
}
#js_t18_search_result .js_t18_advice_variant{
    text-indent: 0;
    cursor: pointer;
    padding-left: 10px;
    margin-left: -30px;
    text-align: left;
    color: #333;
}
#js_t18_search_result .js_t18_advice_variant:hover{
    background-color: rgba(36, 132, 255, 0.12);
}
#js_t18_search_result .active{
    text-indent: 0;
    padding-left: 10px;
    margin-left: -30px;
    background-color: rgba(36, 132, 255, 0.12);
}

/*Настройки для API YouTube (Task 16)*/
.js_t16_show_res{
    cursor: pointer;
    font-weight: bold;
}
.js_t16_show_res:hover{
    box-shadow: inset 0 0 10px 1px rgb(100, 45, 140);
}
.js_t16_original_res{
    display: none;
    color: #666;
    padding: 10px;
    border: 2px solid rgb(134, 66, 192);
}
.t16_queryString{
    word-wrap: break-word;
}
/*word-break: break-all;*/